<div *ngIf="!this.isHidden()">
EXTRA :
<br>
Selesaikan tanpa mengubah file case.component.html & case.component.ts
<br>
<ul>
  <li>
    Tampikan nama Anda disini. {{name}}
  </li>
  <li>
    Hilangkan soal diatas dan soal ini setelah nama di isi dengan nama Anda.
  </li>
  <li>
    Percantik tampilan screen ini.
  </li>
</ul>
Tips : Manfaatkan konsep @Input, @Output & @ViewChild
<br>
</div>
<div *ngIf="this.isHidden()">
  <br>
  {{name}}
  <br>
</div>
<br>
