<!--Tidak diperbolehkan menghapus/meng-comment app-case-->
<app-case name="jody" hidden="true"></app-case>

<div>
  <form [formGroup]="todoform" (ngSubmit)="onSubmit()">
    <label> User ID
      <br>
      <input type="text" formControlName="userId" [(ngModel)]="iduser" required (keyup)="ambilData()"> 
      <!-- Ubah menjadi Autocomplete / Dropdown / Input Text dengan Validasi User ID yang dimasukan harus terdaftar -->
      <!-- Tambahkan validasi required untuk userId-->
      <ul class="search-result" *ngIf="this.load == true || this.iduser != '' && this.click == true">
        <li *ngFor="let username of username" >
          <a (click)="setIdUser(username.id)">
            <div>{{username.name}}</div>
          </a>
        </li>
      </ul>
      <div *ngIf="this.todoform.get('userId').errors?.required" style="color:red">User ID Harus diisi!</div>
    </label>
    <br>
    <label> Title
      <br>
      <input type="text" formControlName="title" [(ngModel)]="titleval" required>
      <!-- Tambahkan validasi required untuk Title-->
      <div *ngIf="this.todoform.get('title').errors?.required" style="color:red">Title harus diisi!</div>
    </label>
    <br>
    <label> Body
      <br>
      <input type="text" formControlName="body" pattern="^[A-Za-z0-9]+">
      <!-- Tambahkan validasi masukan yang diterima hanya alfanumeric untuk Title-->
      <div *ngIf="this.todoform.get('body').errors?.pattern" style="color:red">Input hanya alphanumeric!</div>
    </label>
    <button *ngIf="this.button == 1" type="button" (click)="onSubmit()" [disabled]="this.todoform.invalid"> Simpan </button>
    <button *ngIf="this.button == 2" type="button" (click)="onUpdate(this.todoform.get('id').value)" [disabled]="this.todoform.invalid"> Update </button>
    <button *ngIf="this.button == 2" type="button" (click)="reset()" > Batal </button>
    <!--
      Tambahkan tombol 'Simpan' disini
    -->
    <!--
      Tambahkan tombol 'Batal' disini
    -->
  </form>
</div>

<!--
  Tambahkan table baru dengan tombol 'Hapus' & 'Ubah' disetiap baris data disini
-->
<div style="padding: 10px">
  <ngx-datatable 
    #table class='material striped'
    [columnMode]="'force'" 
    [reorderable]="reorderable"
    [headerHeight]="50" 
    [footerHeight]="50"
    [limit]="10"
    [rowHeight]="'auto'"
    [rows]="rows">
    <ngx-datatable-column headerClass="is-header" name="ID" prop="id"></ngx-datatable-column>
    <ngx-datatable-column headerClass="is-header" name="Title" prop="title"></ngx-datatable-column>
    <ngx-datatable-column headerClass="is-header" name="Body" prop="body"></ngx-datatable-column>
    <ngx-datatable-column headerClass="is-header" name="Action" sortable="false">
      <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
        <button class="btn btn-danger" style="margin-right: 5px" (click)="onRemove(row.id)">Delete</button>
        <button class="btn btn-warning" style="margin-right: 5px" (click)="update(row.id)">Update</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<div style="padding: 10px">
  <h1>TodoForm</h1>
  <ngx-datatable 
    #table class='material striped'
    [columnMode]="'force'" 
    [reorderable]="reorderable"
    [headerHeight]="50" 
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="listTodo">
    <ngx-datatable-column headerClass="is-header" name="ID" prop="id"></ngx-datatable-column>
    <ngx-datatable-column headerClass="is-header" name="Title" prop="title"></ngx-datatable-column>
    <ngx-datatable-column headerClass="is-header" name="Body" prop="body"></ngx-datatable-column>
  </ngx-datatable>
</div>